// >> Font-family
$font-heading: "Tahoma", "sans-serif";
$font-awesome: "FontAwesome", sans-serif;
$font-text: "" Arial ", sans-serif";

// >> Font-size
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

// >> Font-weight
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 600;

// Color
$color-red: #e64d54;
$color-yellow: #ffb129;
$color-red-dark: #cc3237;
$color-blue: #60c5d3;

$color-dark: #535353;
$color-dark-1: #3a3a3a;
$color-dark-2: #313131;
$color-dark-3: #242424;
$color-dark-4: #1b1b1b;
$color-light: #fefefe;
$color-light-1: #f3f3f3;
$color-light-2: #e7e7e7;
$color-light-3: #dadada;
$color-light-4: #b3b3b3;
