// ======================================================
// Abstracts :: Variables
// ======================================================

// Fonts
// >> Font-family
$font-heading: "Tahoma", "sans-serif";
$font-awesome: "FontAwesome", sans-serif;
$font-text: "Arial", sans-serif;

// >> Font-size
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

// >> Font-weight
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 600;

// Color
$color-red: #e9383e;
$color-yellow: #febf01;
$color-red-dark: #d64146;
$color-dark-1: #434343;
$color-dark-2: #313131;
$color-dark-3: #282828;
$color-dark-4: #202020;
$color-light: #fff;
$color-light-1: #fafafa;
$color-light-2: #e1e1e1;
$color-light-3: rgb(177, 177, 177);
$color-light-4: #888;
