.button {
  padding: 12px 41px;
  border-radius: 100px;
  font-family: $font-text;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    color: $color-light;
    background-color: $color-red-dark;
  }

  &--red {
    background-color: $color-red;
    color: $color-light;
    border: 0;
  }

  &--red-outline {
    display: inline-block;
    color: $color-red;
    background-color: $color-light;
    border: 1px solid $color-red;
  }

  @include breakpoint-down(desktop) {
    padding: 9px 35px;
  }

  @include breakpoint-down(tablet) {
    font-size: $font-size-small;
    padding: 9px 25px;
  }
}
