// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================

body {
  font-size: 14px;
  font-family: $font-text;
  font-weight: $font-weight-light;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  &:hover,
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
    color: $color-light-2;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}

input,
button {
  &:focus {
    outline: none;
  }
}

label {
  cursor: pointer;
  user-select: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
