// ======================================================
// Pages :: Home
// ======================================================

.banner {
  &__item {
    position: relative;
    text-align: center;
  }

  &__text {
    width: 100%;
  }
}
