mixin header()
  .header
    nav.container
      .header__wrap
        .header__wrap-links
          a(href="http://now.vn")
            img.header__logo(src="assets/img/ch.png", alt="logo")
          ul.header__list
            li.header__item  Đồ ăn
            li.header__item  Đồ uống
            li.header__item  Món lẩu
            li.header__item  Sushi
        .header__wrap-auth
          p Hello, Tin
          a(href="http://now.vn")
            i.far.fa-user