/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 300; }

img {
  max-width: 100%;
  vertical-align: middle; }

a:hover, a:focus, a:active {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
  color: #e1e1e1; }

ul,
ol {
  list-style: none;
  padding: 0; }

input:focus,
button:focus {
  outline: none; }

label {
  cursor: pointer;
  user-select: none; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.button {
  padding: 12px 41px;
  border-radius: 100px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s; }
  .button:hover {
    color: #fff;
    background-color: #d64146; }
  .button--red {
    background-color: #e9383e;
    color: #fff;
    border: 0; }
  .button--red-outline {
    display: inline-block;
    color: #e9383e;
    background-color: #fff;
    border: 1px solid #e9383e; }
  @media (max-width: 1199.98px) {
    .button {
      padding: 9px 35px; } }
  @media (max-width: 991.98px) {
    .button {
      font-size: 12px;
      padding: 9px 25px; } }

.header {
  background-color: #e9383e;
  height: 50px; }
  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    height: 30px; }
  .header__wrap-auth {
    display: flex; }

.banner__item {
  position: relative;
  text-align: center; }

.banner__text {
  width: 100%; }
