include ./components/_footer.pug
include ./components/_head.pug
include ./components/_header.pug

doctype html
html
  +head("Mansory")
  body
    +header()
  
    +footer()

    script(src='../assets/js/main.js', type='text/javascript')
