// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================

body {
  font-size: 14px;
  font-family: $font-text;
  font-weight: $font-weight-light;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a {
  color: $color-dark-3;
  &:hover,
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}

input {
  padding-left: 10px;
}

input,
button {
  border: 0;
  &:focus {
    outline: none;
  }
}

button {
  background: none;
}

label {
  cursor: pointer;
  user-select: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
